{:paths ["src"]
 
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}}
 
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}}}
  
  :dev {:extra-paths ["test"]
        :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}}}
  
  :jar {:replace-deps {}
        :paths ["src"]
        :mvn/version "1.0-rc1"}
  
  :deploy {:exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote}}}
 
 ;; Project metadata
 :mvn/repos {"clojars" {:url "https://repo.clojars.org/"}}
 :mvn/version "1.0-rc1"
 :description "Readable Math and Dataflow Syntax for Clojure with infix expressions, OOP interop, and threading macros"
 :url "https://github.com/flexiana/infix"
 :scm {:url "https://github.com/flexiana/infix"}
 :license {:name "Eclipse Public License 2.0"
           :url "https://www.eclipse.org/legal/epl-2.0/"}}